aws-lambda-powertools
aws-lambda-powertools[parser]
aws-xray-sdk
pydantic==2.*
requests
python3-discogs-client
mypy-boto3-secretsmanager
medium-api
atoma
boto3
mypy
types-requests
coverage
pytest
moto